# Dependencias
node_modules/
.pnpm-store/

# Entorno
.env
.env.local
.env.production

# Builds
dist/
build/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Archivos de trabajo temporales
promp.txt
~$*.docx
*.tsbuildinfo

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
